<!-- 
This templates expects the carousel elements to be defined in the page's frontmatter as follows

carousels:
  FirstCarousel:
    - type: img 
      path: /assets/img/kaikomagatake/shrine.jpg
      alt: "Shrine"
    - type: img
      path: /assets/img/kaikomagatake/bridge.jpg
      alt: "Bridge"
    - type: img
      path: /assets/img/kaikomagatake/ridge_chain.jpg
      alt: "Ridge Chain"
    - type: mp4
      path: /assets/img/kaikomagatake/tent_day1.mp4
      alt: "Tent windstorm"
  SecondCarousel:
  - type ...
  - ...

  The carousel will be selected from the include.name variable 
-->

<div class="gallery-box">
  <div class="gallery">
    {% for item in page.carousels[include.name].media %}
        {% if item.type == "img" %}
        <img src="{{ site.baseurl | append: item.path }}" alt="{{item.alt}}">
        <!-- Assume it's a video type -->
        {% else %}
        {% capture video_path %}{{item.path}}{% endcapture %}
        {% capture video_type %}{{item.type}}{% endcapture %}
        {% capture video_alt %}{{item.alt}}{% endcapture %}
        {% include video.html path=video_path type=video_type alt=video_alt %}
        {% endif %}
    {% endfor %}
  </div>
  {% if page.carousels[include.name].title %}
  <em>{{page.carousels[include.name].title}}</em>
  {% endif %}
</div>
