{% if paginator.total_pages > 1 %}
<!-- begin pagination -->
<nav class="pagination">
  <div class="container">
    <div class="pagination__inner">

      <div class="pagination__list">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination__prev"><span class="ion ion-ios-arrow-back"><ion-icon name="chevron-back-outline" /></span> Prev</a>
        {% else %}
          <span class="pagination__prev disabled ion ion-ios-arrow-back"><ion-icon name="chevron-back-outline"/> Prev</span>
        {% endif %}

        <div class="pagination__count">Page {{ paginator.page }} of {{paginator.total_pages}}</div>

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next">Next <span class="ion ion-ios-arrow-forward"><ion-icon name="chevron-forward-outline"/></span></a>
        {% else %}
          <span class="pagination__next disabled ion ion-ios-arrow-forward">Next <ion-icon name="chevron-forward-outline" /></span>
        {% endif %}
      </div>

    </div>
  </div>
</nav>
<!-- end pagination -->
{% endif %}
