// Controls the image width in the gallery grid
// e.g the number of columns
// 2-columns: 50%
// 3-columns: 33%
// ...
$default-width: 33%;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

.lg-hide-items .lg-sub-html {
  display: none;
}

.image-wrapper,
.gallery-sizer {
  width: $default-width;
}

.image-gallery {

  display: block;

  .image-wrapper {
    float: left;
    padding: 3px;

    // hack required if no padding
    .image {
      width: 100.1%;
      width: calc( 100% + 1px );
      height: 100%;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Gallery legend
.lg-sub-html
{
  h4
  {
    font-size: 20px;
    color: $white;
  }
  p
  {
    font-size: 14px;
    color: $gray-lightest;
  }
}
