<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% if site.google-analytics %}
      {% include google-analytics.html %}
    {% endif %}

    {% include javascripts.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main> 
    <!-- end content -->
    
    <div class="top" title="Top"><span class="ion ion-ios-arrow-up"><ion-icon name="chevron-up-outline" /></span></div>
    {% include footer.html %}
    {% include javascripts-post.html %}
  </body>
</html>
